{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Login</title>
</head>
<body>
    <div class="box">
        <div class="container">
    
            <div class="top">
                <header>MovieDB</header>
            </div>
            
            <form class="login" method="POST" action="{% url 'mainapp:login' %}">
                {% csrf_token %}

                <!-- Email Field -->
                <div class="input-field">
                    <input type="text" class="input" name="email" required placeholder="Email" id="id_login">
                    <i class='bx bx-user' ></i>
                </div>
        
                <!-- Password Field -->
                <div class="input-field">
                    <input type="Password" class="input" name="password" required placeholder="Password" id="id_password">
                    <i class='bx bx-lock-alt'></i>
                </div>

                <input type="submit" class="regular-login" value="Login" id="">
            </form> 
            <div style="color: red;">
                {% if errormsg %}
                    {{ errormsg }}
                {% endif %}
            </div>

            <a href="{%url 'mainapp:create_account' %}">Or Create an Account</a>
        </div>
    </div> 
</body>
</html>