{% include "nav.html" %}
{% load static %}
<!DOCTYPE html>
<html>
    <div class="d-flex justify-content-center">
        <header><b>New Review for "{{ movie.1 }}" </b></header>
    </div>
    <form class="container" action="{% url 'mainapp:new_review' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="Review Title">Review Title</label>
          <input type="reviewTitle" class="form-control" id="reviewTitle" aria-describedby="reviewHelp" placeholder="Enter review title">
        </div>
        <div class="form-group">
          <label for="Score">Score</label>
          <input type="score" class="form-control" id="score" placeholder="Enter score">
        </div>
        <div class="form-group">
            <label for="written-review">Written Review</label>
          <textarea class="form-control" id="written-review" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</html>